<div data-th-fragment="contact">
  <dialog id="my_modal_2" class="h-min-auto w-[32rem] rounded-lg">
    <div class=" p-4  rounded-lg">
      <h3 class="text-lg text-center font-bold bg-blue-400 p-2 mb-4 rounded-lg">Fiche contact</h3>

      <div class="flex flex-row justify-center mb-4">
        <img id="contact_image" class="w-32 h-32 rounded-full" src="" alt="" />
      </div>

      <div class="flex flex-col items-center justify-center mb-2">
        <h5 class="text-2xl font-bold tracking-tight text-gray-900" id="contact_name"></h5>
        <p class="text-gray-600" id="contact_email"></p>
        <p class="text-gray-600" id="contact_phone"></p>
      </div>

      <div class="flex flex-row">
        <div class="w-1/4 flex flex-row justify-end">
          <i class="fa-solid fa-location-dot flex items-center w-10 h-10"></i>
        </div>
        <span class="text-gray-600 flex items-center" id="contact_address"></span>
      </div>


      <div class="flex flex-row">
        <div class="w-1/4 flex flex-row justify-end">
          <i class="fa-solid fa-user flex items-center w-10 h-10"></i>
        </div>
        <p class="text-gray-600 flex items-center" id="contact_description"></p>
      </div>


      <div class="flex flex-row">
        <div class="w-1/4 flex flex-row justify-end">
          <i class="fa-solid fa-earth-americas flex items-center w-10 h-10"></i>
        </div>
        <p class="text-gray-600 flex items-center" id="contact_website"></p>
      </div>


      <div class="flex flex-row">
        <div class=" w-1/4 flex flex-row justify-end">
          <i class="fa-brands fa-linkedin-in flex items-center w-10 h-10"></i>
        </div>
        <p class="text-gray-600 flex items-center" id="contact_linkedIn"></p>
      </div>

      <form method="dialog" class="text-lg text-center font-bold bg-blue-400 p-1 m-4 rounded-lg">
        <button class="w-full">Fermer</button>
      </form>
    </div>

  </dialog>

</div>