<!DOCTYPE html>
<html lang="en" th:replace="~{fragment/base :: parent(~{::#id_content},'Gestionnaire de Contact intelligent')}">

<head></head>

<body>
    <section id="id_content">
        <div class="mx-4 grid grid-cols-12 mt-4">

            <div class="col-span-2"></div>
            <div class="col-span-12 lg:col-span-8">

                <div class="block p-6 border-t-[10px] border-blue-700 bg-white rounded-xl shadow hover:bg-gray-100">

                    <h5 class="mb-4 text-2xl font-bold text-red-700">Gestionnaire de Contact Intelligent.</h5>
                    <p class="mb-4 text-xl font-bold">Dans ce projet, nous utiliserons les technologies suivantes pour
                        créer une application Spring Boot complète et robuste.</p>


                    <p class="text-md underline font-bold">HEBERGEMENT</p>
                    <div class="px-4 py-2 mb-8">
                        Le projet est hébergé sur mes propres machines virtuelles (VM).<br>

                        J'utilise un ordinateur portable Alienware avec un processeur Intel i7 et 32 Go de RAM,
                        transformé en hyperviseur de type 1. Le système d'exploitation est Ubuntu 22.04, avec KVM et la
                        bibliothèque Libvirt pour la gestion de la virtualisation.
                    </div>



                    <p class="text-md underline font-bold">KAFKA</p>
                    <div class="px-4 py-2 mb-8">
                        Création de microservice avec Spring Boot qui utilise Apache Kafka pour produire et
                        consommer des événements d'email. Cela garantit une communication asynchrone et une haute fiabilité pour
                        les envois d'emails.
                    </div>

                    <p class="text-md underline font-bold">BACKEND</p>
                    <div class="px-4 py-2 mb-8">
                        Java : Langage principal pour le développement de l'application.<br><br>

                        Spring Boot : Framework principal pour simplifier le développement de l'application avec des
                        configurations par
                        défaut et des starters.<br><br>

                        Spring Data JPA : Pour l'interaction avec la base de données en utilisant des entités et des
                        référentiels.<br><br>

                        Hibernate : Implémentation de JPA pour la gestion des entités et des transactions avec la
                        base
                        de données.<br><br>

                        Spring Validation : Framework puissant pour valider des données dans des applications web
                        et des services REST. Il utilise la spécification Bean Validation (JSR 380) pour appliquer
                        des
                        contraintes sur les propriétés des beans, ce qui simplifie le processus de validation et
                        garantit que les données respectent des règles définies.<br><br>

                        Spring MVC (Model-View-Controller) : Framework au sein du projet Spring qui facilite le
                        développement d'applications web en utilisant le modèle de conception MVC. Ce modèle divise
                        l'application en trois composants principaux : le modèle, la vue et le contrôleur.<br><br>

                        Spring Security : Pour la gestion de la sécurité de l'application, y compris
                        l'authentification
                        et l'autorisation.<br><br>

                        OAuth2 Social Login : Permet aux utilisateurs de se connecter à votre application en
                        utilisant
                        des
                        comptes sociaux comme Google, Facebook, ou GitHub. Dans cet exemple, nous allons configurer
                        une
                        connexion OAuth2 avec Google et GitHub en utilisant Spring Boot et Spring Security.<br><br>

                        JavaMail : L’envoi d'e-mails est une fonctionnalité courante dans de nombreuses
                        applications.
                        Spring Boot simplifie l'intégration de la bibliothèque JavaMail pour envoyer des
                        e-mails.<br><br>

                        Cloudinary : Service de gestion de médias basé sur le cloud qui permet de stocker,
                        transformer et livrer des images et des vidéos de manière efficace.<br>
                        Intégrer Cloudinary dans un
                        projet Spring Boot vous permet de gérer facilement les fichiers multimédias.

                    </div>

                    <p class="text-md underline font-bold">BASE DE DONNEES</p>
                    <div class="px-4 py-2 mb-8">
                        MySQL : Système de gestion de base de données relationnelle pour stocker les données de
                        l'application.
                    </div>

                    <p class="text-md underline font-bold">FRONTEND</p>
                    <div class="px-4 py-2 mb-8">
                        Thymeleaf : Moteur de template côté serveur pour rendre des pages HTML dynamiques.<br><br>

                        Tailwind CSS : Framework CSS utilitaire qui vous permet de concevoir rapidement des
                        interfaces en utilisant des classes CSS prêtes à l'emploi directement dans votre
                        HTML.<br><br>

                        Flowbite : Bibliothèque de composants d'interface utilisateur basée sur Tailwind CSS. Elle
                        propose des composants prêts à l'emploi comme des boutons, des modals, des barres de
                        navigation,
                        etc., ce qui permet de construire des interfaces utilisateurs de manière rapide et efficace.
                    </div>

                    <p class="text-md underline font-bold">OUTIL DE DEVELOPPEMENT</p>
                    <div class="px-4 py-2 mb-8">
                        Maven : Outils de gestion des dépendances et de construction de projet.<br><br>

                        Visual Studio Code : Environnements de développement intégrés (IDE) pour écrire et déboguer
                        le
                        code.<br><br>

                        Docker : Pour conteneuriser l'application et faciliter le déploiement.<br><br>
                    </div>




                </div>
            </div>
        </div>
        <script>
        </script>
    </section>

</body>

</html>