APP_URL=

MYSQLDB_HOST=
MYSQLDB_PORT=
MYSQLDB_DATABASE=
MYSQLDB_USER=
MYSQLDB_ROOT_PASSWORD=

KAFKA_HOST=
KAFKA_PORT=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

CLOUDINARY_NAME=
CLOUDINARY_KEY=
CLOUDINARY_SECRET=
